@page "/"

@using BlazBeaver.DataAccess

<PageTitle>Dashboard</PageTitle>

<h1>BlazBeaver</h1>

<div style="padding-left: 15px;">
    <MudText><b>Explore the requirements and, coming soon, the protocols.</b></MudText>
    <p />
    <MudButton Href="/rootrequirements"
                Variant="Variant.Filled" Color="Color.Primary">Access to the requirements</MudButton>
</div>

@code {

}